* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* hero section start here ================================= */
.hero {
  background-image: url("Assets/Hero Image-100.jpg");
  background-position: 100% 100%;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.hero .hero_content {
  margin-top: 80px;
  color: #fff;
  text-align: center;
}
.hero .hero_content h2 {
  word-spacing: 15px;
  font-size: 60px;
}
.hero .hero_content p {
  font-size: 15px;
}
/* hero section end here===================================== */

/* financial service section start here ========================= */
.financial_service {
  width: 100%;
  position: relative;
  display: flex;
}
.financial_service .left {
  width: 60%;
  padding: 80px 130px 50px 150px;
}
.financial_service .left h1 {
  font-size: 35px;
  color: #002f93;
  line-height: 35px;
  margin-bottom: 20px;
}
.financial_service .left p {
  font-size: 25px;
  position: relative;
}
.financial_service .left p span {
  position: absolute;
  right: -50%;
  border-bottom: 2px solid red;
  width: 430px;
  bottom: 10px;
}
.financial_service .right {
  background-image: url("Assets/Blue City Skyline-100.jpg");
  width: 40%;
  text-align: end;
  padding: 0px 100px;
  height: 700px;
}
.financial_service .right p {
  margin-top: 400px;
  color: #fff;
  font-size: 20px;
}
/* financial service section end here============================ */

/* where it matter section satrt here =========================== */
.where_it_matter {
  width: 100%;
  position: relative;
  width: 60%;
  height: 350px;
  background-color: #002f93;
}
.where_it_matter .line {
  border: 1px solid red;
  width: 230px;
  position: absolute;
  margin-left: -25px;
  margin-top: -65px;
  transform: rotate(90deg);
}
.where_it_matter .content {
  position: absolute;
  width: 1020px;
  margin-left: 150px;
  height: 530px;
  bottom: 0px;
}
.where_it_matter .content .line_right {
  position: absolute;
  width: 300px;
  margin-left: -100px;
}
.where_it_matter .content .fas {
  color: red;
  font-size: 25px;
  margin-bottom: 10px;
}
.where_it_matter .content h1 {
  font-size: 25px;
  margin-bottom: 10px;
}
.where_it_matter .content .content_inner {
  bottom: 0px !important;
  height: 400px;
}
.where_it_matter .content img {
  width: 100%;
  height: 401px;
  bottom: 0px !important;
  object-fit: cover;
}
.where_it_matter .content .commited {
  width: 400px;
  padding: 30px;
  display: flex;
  align-items: center;
  position: absolute;
  right: -100px;
  bottom: 0px;
  background-color: #002f93;
  color: #fff;
}
.where_it_matter .content .commited h1 {
  font-size: 20px;
}
/* where it matter section end here ============================= */

/* security advantages section start here ======================= */
.security_advantage .row {
  padding-left: 150px;
  display: flex;
}

.security_advantage .row .left {
  width: 40%;
}
.security_advantage .row .left p {
  font-size: 22px;
  margin: 15px 0px;
}
.security_advantage .row .left h3 {
  color: #002f93;
  font-size: 25px;
  margin: 15px 0px;
}
.security_advantage .row .right {
  width: 60%;
  height: 700px;
}
.security_advantage .row .right {
  background-image: url("Assets/KLCity Green Energy-100.jpg");
  background-position: 30% 50%;
  background-size: cover;
}
.security_advantage .row .right img {
  width: 100%;
  object-fit: cover;
  height: 700px;
}
/* security advantages section end here ========================= */

/* <!-- connect invester section start here ================= --> */
.connect_invester {
  position: relative;
  width: 100%;
}
.connect_invester .connect_invester_inner {
  margin-left: 150px;
}
.connect_invester .connect_invester_inner {
  margin-top: -60px;
}
.connect_invester .connect_invester_inner .fas {
  color: red;
  font-size: 25px;
  margin-bottom: 10px;
}
.connect_invester .connect_invester_inner h1 {
  font-size: 25px;
}
/* <!-- connect invester section end here =================== --> */

/* asian perspective start here ======== */
.asian_perspective {
  position: relative;
  width: 90%;
  margin: 25px auto 50px;
  text-align: center;
  padding: 35px 60px;
  background-color: #002f93;
  height: 400px;

  color: #fff;
}
.asian_perspective h1 {
  font-size: 35px;
}
.asian_perspective p {
  margin: 15px 0px;
  font-size: 23px;
}

/* asian perspective end here =========== */

/* retail content start here =================================== */
.retail {
  width: 100%;
  background-color: #e4e5e6;
  height: 450px;
  position: relative;
  margin-bottom: 300px;
}
.retail .retail_top_card {
  width: 70%;
  position: absolute;
  margin-top: -100px;
  margin: auto;
  display: flex;
  margin-top: -110px;
  left: 15%;
  justify-content: space-around;
}
.retail .retail_top_card .retail_client,
.institute_client {
  width: 400px;
  height: auto;
  background-color: #fff;
  padding: 35px;
  border: 1px solid #ccc;
}

.retail .retail_top_card .retail_client h1,
.retail .retail_top_card .institute_client h1 {
  color: #002f93;
  font-size: 24px;
  font-weight: 550;
}
.retail .retail_top_card .retail_client p,
.retail .retail_top_card .institute_client p {
  margin: 15px 0px;
  font-size: 19px;
}

.retail .retail_top_card .retail_client .fas,
.retail .retail_top_card .institute_client .fas {
  position: absolute;
  cursor: pointer;
  bottom: 10px;
}

.retail_bottom_card {
  height: 400px;
  width: 80%;
  left: 10%;
  position: absolute;
  display: flex;
  justify-content: space-around;
  bottom: -230px;
}

.retail_bottom_card .card_left,
.card_center,
.card_right {
  position: relative;
  width: 300px;
}

.retail_bottom_card .card_left img,
.card_center img,
.card_right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.retail_bottom_card .card_left .content,
.card_center .content,
.card_right .content {
  position: absolute;
  bottom: 10px;
  width: 100%;
  height: 130px;

  padding: 0px 10px;
}
.retail_bottom_card .card_left .content h1,
.card_center .content h1,
.card_right .content h1 {
  color: #fff;
  font-size: 26px;
  margin: 7px 0px;
}
.retail_bottom_card .card_left .content p,
.card_center .content p,
.card_right .content p {
  color: #ccc;
  margin-bottom: 15px;
}
.retail_bottom_card .card_left .content a,
.card_center .content a,
.card_right .content a {
  text-decoration: none;
  display: flex;
  align-items: center;
  bottom: 0;
  position: absolute;
  color: #fff;
}

/* retail content end here ===================================== */

@media only screen and (max-width: 768px) {
  /* hero section start here ================================= */
  .hero {
    height: 60vh;
  }
  .hero .hero_content h2 {
    font-size: 30px;
    margin-bottom: 15px;
  }
  .hero .hero_content p {
    font-size: 15px;
  }
  /* hero section end here===================================== */
  /* financial service section start here ========================= */
  .financial_service {
    width: 100%;
    flex-direction: column;
  }
  .financial_service .left {
    width: 100%;
    padding: 20px 5%;
  }
  .financial_service .left h1 {
    font-size: 16px;
    line-height: 25px;
  }
  .financial_service .left p {
    font-size: 17px;
    margin-bottom: 5px;
    position: static;
    z-index: 10;
  }
  .financial_service .left p span {
    display: none;
  }
  .financial_service .right {
    width: 100%;
    height: 500px;
    margin: auto;
    padding: 15px;
  }
  .financial_service .right p {
    font-size: 17px;
    width: 100%;
  }
  /* financial service section end here============================ */

  /* where it matter section satrt here =========================== */
  .where_it_matter {
    width: 100%;
    height: 300px;
  }
  .where_it_matter .content {
    width: 90%;
    text-align: center;
    margin: auto 5%;
  }

  .where_it_matter .content .content_inner {
    bottom: 0px !important;
    height: 400px;
  }

  .where_it_matter .content .commited {
    padding: 5px;
    right: 0px;
    width: auto;
    padding: 17px;
    font-size: 2px;
  }
  .where_it_matter .content .commited h1 {
    font-size: 15px;
  }
  /* security advantages section start here ======================= */
  .security_advantage .row {
    flex-direction: column;
  }

  .security_advantage .row .left {
    width: 100%;
    padding: 15px 5%;
  }

  .security_advantage .row .right {
    width: 100%;
    height: 500px;
  }
  .security_advantage .row .right {
    background-position: 100% 100%;
    background-size: contain;
    background-repeat: no-repeat;
  }

  /* security advantages section end here ========================= */
  /* main menu section end here==================================== */

  /* retail content start here =================================== */
  .retail {
    height: auto;
    position: relative;
    margin: 25px 0px;
    padding-top: 25px;
  }

  .retail .retail_top_card {
    width: 90%;
    position: static;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .retail .retail_top_card .retail_client,
  .institute_client {
    width: 300px;
    position: relative;
    margin-bottom: 25px;
  }

  .retail_bottom_card {
    height: auto;
    width: 90%;
    margin: auto;
    position: static;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .retail_bottom_card .card_left,
  .card_center,
  .card_right {
    margin-bottom: 25px;
    position: relative;
    width: 300px;
  }
  /* asian perspective start here ======== */
  .asian_perspective {
    position: relative;
    width: 90%;
    margin: 25px auto 50px;
    text-align: center;
    padding: 10px;
    background-color: #002f93;
    height: auto;
    color: #fff;
  }
  .asian_perspective p {
    font-size: 14px;
  }
  .asian_perspective h1 {
    font-size: 25px;
  }
  .connect_invester .connect_invester_inner {
    margin-left: 5%;
  }

  /* asian perspective end here =========== */
  /* <!-- footer section start here =========================== --> */
}
/* second media query 600 start here==================== */
@media only screen and (max-width: 992px) {
  /* financial service section start here ========================= */
  .financial_service {
    width: 100%;
    flex-direction: column;
  }
  .financial_service .left {
    width: 100%;
    padding: 80px 5%;
  }
  .financial_service .left h1 {
    font-size: 25px;
  }
  .financial_service .left p {
    font-size: 17px;

    position: absolute;
    z-index: 10;
  }
  .financial_service .left p span {
    display: none;
  }
  .financial_service .right {
    width: 80%;
    height: 500px;
    margin: auto;
  }
  .financial_service .right p {
    font-size: 17px;
    margin-top: 100px;
  }
  /* financial service section end here============================ */

  /* where it matter section satrt here =========================== */
  .where_it_matter {
    width: 100%;
    height: 300px;
  }
  .where_it_matter .content {
    width: 90%;
    text-align: center;
    margin: auto 5%;
  }

  .where_it_matter .content .fas {
    color: red;
    font-size: 25px;
    margin-bottom: 10px;
  }
  .where_it_matter .content h1 {
    font-size: 25px;
    color: #fff;
    margin-bottom: 10px;
  }
  .where_it_matter .content .content_inner {
    bottom: 0px !important;
    height: 400px;
  }

  .where_it_matter .content .commited {
    padding: 15px;
    text-align: center;
    right: 0px;
  }

  /* where it matter section end here ============================= */

  /* security advantages section start here ======================= */
  .security_advantage .row {
    width: 100%;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
  }

  .security_advantage .row .left {
    width: 100%;
    padding: 15px 5%;
  }

  .security_advantage .row .right {
    width: 100%;
    height: 500px;
  }
  .security_advantage .row .right {
    background-position: 100% 100%;
    background-size: contain;
    background-repeat: no-repeat;
  }

  /* security advantages section end here ========================= */
  /* retail content start here =================================== */
  .retail {
    height: auto;
    position: relative;
    margin: 25px 0px;
    padding-top: 25px;
  }

  .retail .retail_top_card {
    width: 90%;
    margin-top: -100px;
    margin: 25px auto;
    position: static;
    flex-direction: row;
  }
  .retail .retail_top_card .retail_client,
  .institute_client {
    width: 300px;
    position: relative;
    margin-bottom: 25px;
  }

  .retail_bottom_card {
    height: auto;
    width: 90%;
    margin: auto;
    position: static;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .retail_bottom_card .card_left,
  .card_center,
  .card_right {
    margin-bottom: 25px;
    position: relative;
    width: 300px;
  }
  .retail .retail_top_card .retail_client .fas,
  .retail .retail_top_card .institute_client .fas {
    cursor: pointer;
    position: absolute;
    bottom: 10px;
  }

  /* <!-- footer section start here =========================== --> */

  /* <!-- footer section end here ============================= --> */
  /* retail content end here ===================================== */
}

/* retail content end here ===================================== */
@media only screen and (max-width: 1150px) {
  /* financial service section start here ========================= */
  /* financial service section start here ========================= */
  .where_it_matter .line {
    display: none;
  }
  /* financial service section end here============================ */
}
